<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/"><%= appName %></a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <% menu.forEach(item => { %>
              <% if (item.children && item.children.length) { %>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="<%= item.link %>"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <%= item.name %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% item.children.forEach(sub => { %>
                      <li><a class="dropdown-item" href="<%= sub.link %>"><%= sub.name %></a></li>
                    <% }); %>
                  </ul>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="<%= item.link %>"><%= item.name %></a>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
    </div>
</nav>
<div id="ping" class="text-end m-auto">-- ms</div>